/* -- This specific Hack-A-Day project -- */

.square {
    border: 5px solid white;
    margin: 3px;
    border-radius: 3px;
    height: 90px;
    width: 90px;
    vertical-align: top;
}
.square:empty {
    border-color: lightgrey;
}
.grid .square {
    visibility: hidden;
    display: inline-block;
}
.grid .square.visible {
    visibility: visible;
}
.grid .square.visible:empty {
    border-color: lightgrey;
}
.pool .square {
    border-color: orange;
    display: inline-block;
}

.error {
    background: pink;
    font-size: large;
}

.tile.dragged {
    opacity: 50%;
}

.tile {
    border: 2px solid black;
    height: 80px;
    width: 80px;
}

.tile.valid {
    border: 2px solid green;
}

.tile.invalid {
    border: 2px solid red;
    animation: flashborder 1s linear infinite;
}
.tile.invalid rect:nth-child(5) {
    display: none;
}

@keyframes flashborder {
    from { border: 5px solid red; }
    to { border: 5px solid pink; }
}

/* Speeds up drag-and-drop */
svg * {
    pointer-events: none;
}

/* -- All Hack-A-Day projects -- */
.about {
    white-space: pre-wrap;
}
.footer {
    background-color: rgba(0,0,0,0.2);
    margin-top: 20px;
}
.footer ul {
    list-style: none;
    padding-left: 5px;
}

.navbar-brand-link a {
    color: #777;
}
.navbar-brand-link a:hover {
    color: #000;
    text-decoration: none;
}
